*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color:black;
    color: aquamarine;
    display: flex;
    justify-content: space-around;
    display : flex;
    padding : 100 px 35;
    font-size: 25px;
}


.cabecalhoListaItem{
    display:inline-block;
    margin: 250 50px;
    padding: 150px 100;
    border-radius: 200;
}

.sobreImagem{
           width:
}

.sobre{
        background-image: linear gradient(#FFFFFF. #FFFFFF);
        color: orange;
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 370px 0;
}

.sobreConteudo{
        width:
}

.sobreTitulo{
         padding: 100px 50px;
}