.cabecalho{
background-color:black;
color: aquamarine;
justify-content: space-around;
display : flex;
padding : 240px 0;
font-size: 50px;
}


.cabecalhoListaItem{
    display:inline-block;
    margin: 0 120px
    padding 78px 0
}